<div class="header">
  <img [src]="Image" alt="">
  <div class="tamanho">
    <span>{{Tamanho}}</span>
  </div>
</div>

<div class="content">
  <h3>Imagem reduzida até {{Percentagem}}</h3>
  <div class="footer">
    <div class="download">
      <span>Download</span>
      <img src="assets/icon_download.svg" alt="">
    </div>
    <div class="linha"></div>
    <div class="comparar" (click)="Comparar()">
      <span>Comparar</span>
      <img src="assets/icon_seta_direita.svg" alt="">
    </div>
  </div>
</div>
