<app-upload (listaFiles)="ReceberImagens($event)"></app-upload>

<div #lista id="lista" class="list-images" *ngIf="ListaImagens">
  <app-card *ngFor="let item of ListaImagens" (comparar)="AbrirImagem($event)" [Name]="item.Name" [File]="item.File" [Image]="item.Imagem" [Tamanho]="item.Tamanho" [Percentagem]="item.Percentagem"></app-card>
</div>

<div class="preview" *ngIf="isPreviewVisible">
  <span class="close" (click)="FecharImagem()">&times;</span>
  <div class="legendas">
    <span>Original</span>
    <span>Comprimida</span>
  </div>
  <app-image-comparison *ngIf='images' [images]='images'></app-image-comparison>
</div>
