<div class="upload">
  <div class="column-1">
    <h2>Comprimir Imagem</h2>
    <span>Comprima JPG, PNG ou GIF com a melhor qualidade e compressão</span>
    <img src="assets/figura.svg" alt="">
  </div>
  <div class="column-2">
    <div class="painel">
      <h3>Upload Arquivos</h3>
      <div class="drag-drop">
        <img src="assets/icon-mais.svg" alt="">
        <span>Arraste a imagem ou <a>Selecione</a></span>
      </div>
      <button>INICIAR COMPRESSÃO</button>
    </div>
  </div>
</div>
